<p><%= link_to '投稿する', new_pet_question_path(pet) %></p>
    <h1>よくある質問</h1><p>(全<%= questions.count %>件)</p>
    <table class="questions">
      <% @pet.questions.each do |question| %>
        <tr>
          <td>
            <%= link_to question.title,  pet_question_path(question.pet_id, question.id)%>
          </td>
        </tr>
      <% end %>
    </table>