<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="top_image">
        <div class="top_image_black">
          <div class="top_font">
            <h2>
             Welcome to Petto<br>
             ペットを飼ってる人、飼いたいと思ってる人などを繋ぐSNSです。<br>
            </h2>
          </div>
        </div>
      </div>
      <table class="table table-bordered table-hover table-condensed">
        <h2>Pet</h2>
        <%= render 'card', pets: @pets %>
       </table>
      <div class="pull-right">
          <%= link_to "もっと見る>", pets_path , class:"btn btn-default btn-lg active"%>
      </div>
    </div>
  </div>
</div>