<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-3">
        <%= render 'users/info', user: @user %>
      </div>
      <div class="col-xs-9">
        <h2>フォロー</h2>
          <% if @users.exists? %>
            <%= render 'users/index', users: @users %>
          <% else %>
            <p>ユーザーはいません</p>
          <% end %> 
      </div>
    </div>
  </div>
</div>