/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
@import "bootstrap-sprockets";
@import "bootstrap";


header{
  background: #ccffcc;
  width: 100%;
  height: 75px;
}

.space{
  width: 100%;
  height: 90px;
}

.space2{
  width: 50%;
  height: 25px;
}

.space4{
  width: 100%;
  height: 50px;
}

// a:hover{
//   background-size: 16px, 16px;
//   background-image: image-url("pet.jpeg");
// width: 10%;
// height: 10%;
// }

.logo{
  background-size: cover;
  width: 148px;
  height: 75px;
  overflow: scroll;
  position: relative;
  bottom: 25px;
  background-image: image-url("logo.jpeg");
}

 .page_top{
  background-size: cover;
  width: 200px;
  height: 200px;
  position: fixed;
  right: 50px;
  bottom: 0px;
  background-image: image-url("pet.jpeg");
}

.footer-image {
  // background-size: cover;
  height: 320px;
  width: 100%;
  background-image: image-url("wave.svg");
  // // bottom: 0;
  // height: 100px;
  // width: 100%;
}

.top_image {
  width: auto;
  height: 380px;
  background-image: image-url("petto4.jpeg");
  background-size: cover;
}
.top_image_black {
  width: 100%; /* 横幅40% */
  height: 100%; /* 親の高さに揃える */
  background-color: rgba( 0, 0, 0, 0.3);
}

.top_font {
  text-align: center ;
  color: white;
  padding-top: 130px;
}
